<ng-container [ngSwitch]="col.controlType">
    <p-columnFilter
      *ngSwitchCase="ControlType.INPUT"
      type="text"
      [field]="col.key"
      [showClearButton]="true"
      [showMenu]="false"
      data-cy="table-filter-input"
    >
      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
        <input
          type="text"
          pInputText
          (keyup)="filter($any($event.target).value)"
        />
      </ng-template>
    </p-columnFilter>
    <p-columnFilter
      *ngSwitchCase="ControlType.CHECKBOX"
      type="boolean"
      [field]="col.key"
      [showMenu]="false"
      data-cy="table-filter-checkbox"
    >
    </p-columnFilter>
    <p-columnFilter
      *ngSwitchCase="ControlType.SELECT"
      [field]="col.key"
      matchMode="equals"
      [showMenu]="false"
      data-cy="table-filter-select"
    >
      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
        <p-dropdown
          [ngModel]="value"
          [options]="col.options"
          (onChange)="filter($event.value)"
          placeholder="Any"
          [showClear]="true"
        >
        </p-dropdown>
      </ng-template>
    </p-columnFilter>
    <p-columnFilter
      *ngSwitchCase="ControlType.MULTISELECT"
      [field]="col.key"
      matchMode="contains"
      [showMenu]="false"
      data-cy="table-filter-multi-select"
    >
      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
        <p-multiSelect
          [ngModel]="value"
          [options]="col.options"
          (onChange)="filter($event.value)"
          placeholder="Any"
          appendTo="body"
        >
        </p-multiSelect>
      </ng-template>
    </p-columnFilter>
  </ng-container>
