.p-dialog {
  .p-dialog-header,
  .p-dialog-content,
  .p-dialog-footer {
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);

    .p-dialog-header-icon {
      color: var(--primary-font-color);

      &:enabled:hover {
        color: var(--secondary-font-color);
      }
    }
  }
}